.container {
    background-color: rgba(187, 229, 235, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10%;
    height: 100vh;
}

h1, h2 {
    text-align: center;
    font-size: 48px;
}



.btnBox {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 20px 0px;
    ;
}

.btn {
 
    width: 350px;
    height: 350px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.image {
    margin-top: -20px;
    max-width: 100%;
    max-height: 100%;
}

.scoreBox {
    display: flex;
    justify-content: space-around;
    margin: 0px 60px;
    padding: 40px 0px;
    font-size: 36px;
}

.score {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.7);
    width: 150px;
    height: 50px;
    border-radius: 10px;
}